body {
    background-color: #64C4ED;
}

.btn {
    background-color: #64C4ED;
    border-radius: 50px;
    width: 120px;
}

.kategori {
  background-color: white;
  padding: 20px;

}

.navbar {
  background-color: white;
}

.panah{
align-items: center;
}

.card-text {
  font-size: 12px;
}

.footer {
    max-width: auto;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: white;
  }
  
  .title {
    color: grey;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .fa {
      padding-left: 20px;
  }

.menu2 a {
    text-decoration:none;
    color:black;
}

.menu2 {
  padding-top: 0px;
  padding-bottom: 10px;
}

.menu2 ul {
  align-items: center;

}

.menu2 li {

    list-style-type:none;
    cursor:pointer;
    line-height: 8px;
    text-align: center;
    padding: 15px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    margin-right: 40px;
}

.menu2 li ul li:hover {
  background-color: #64C4ED;

}

.menu2 li ul li {
  background-color: white;
    position: relative;
    left: -15px;
    top: 25px;
}

.menu2 li ul {
    display: none;

}

.menu2 li:hover ul {
    display: block;
    right: 0px;
}